.contactUs {
    position: relative;
    
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
}


.contact {
    padding: 40px;
    background: #c0c0bf;
    box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}


.box {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 10em;
}
.contact h3 {
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

form{
  padding: 1ema;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1m;
    outline: none;
    border: 1px solid black;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1m;
    outline: none;
    border: 1px solid black;
   
    min-height: 220px;
}

.inputBox input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.1em;
  
    max-width: 120px;
    font-weight: 500
    
}
.error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .contactUs {
    padding: 20px; 
  }

  .formBox .row50 {
    flex-direction: column; 
  }

  .formBox .row100 .inputBox {
    width: 100%; 
  }
}

/* Mobile Phones */
@media only screen and (max-width: 468px) {
  .contactUs {
    padding: 10px; 
  }

  .inputBox input,
  .inputBox textarea {
    font-size: 1em; 
  }

  
  .inputBox,
  .inputBox span,
  .inputBox input,
  .inputBox textarea {
    margin: 5px 0;
    padding: 5px;
  }
}