/* Mobile Phone */
@media only screen and (max-width:768px) {
    .navlist ul {
      flex-direction: column;
      align-items: center;
    }
    body {
      background-color: white; 
      margin: 0; 
    }
    .navlist {
      position: absolute;
      top: 0;
      margin-top: 3.4em;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      bottom:0;
      background: #000000;
      font-family: Arial, sans-serif;
      font-weight: bold;
      transition: left 0.3s ease-in;
      z-index: 3;
    }
  
    li a:hover {
      border-bottom: 3px solid #967e4c; 
      
    }
      
    .contact-info {
      display: none;
    }
   .navlist.closed{
      left: -100%;
      top: -50%;
     transition: left 0.3s ease-in;
      
    }
  
  #hamburger {
    display: block;
    margin-top: 0px; 
    margin-left: auto;
    padding: .6em;
    cursor: pointer;
  }
  
  header{
    background-color: black;
    display: flex;
    height: 150;
  }
  
  li {
    float: none;
    width: 100%;
    margin-right: 6px;
  
  }
  }
  /* Tablets */
  @media only screen and (max-width: 768px) {
    .navlist {
      flex-direction: column;
      align-items: center;
    }
    li {
      float: none;
  }
  .mission-container {
    position: relative;
    height: 100vh;
    background-image: url('/Images/Mission&VisionBg.png');
  
  }

  .mission-box,
  .vision-box {
    width: 350px;
    height: 150px;
    padding: 10px;
    position: absolute;
    border: 2px solid #7c6e2f93; 
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  .mission-box:hover,
  .vision-box:hover {
         transform: scale(1.05); 
         transition: transform 0.3s; 
         z-index: 1;
  }
  
  .mission-box {
    background-color: #DFC01B;
    color: black;
    bottom: 0;
    right: auto;
    top: 50%;
  }
  
  .mission-box h2 {
    font-weight: bolder;
    text-align: center;
    
  }
  
  
  .vision-box {
    background-color: #97663A;
    color: black;
    top: 10%;
   left: auto;
  }
  
  .vision-box h2 {
    font-weight: bolder;
    text-align: center;
    
  }
  }