/*Fonts*/
@font-face {
  font-family: Archivo-Bold;
  src: url('fonts/Archivo-Bold.ttf');
}

@font-face {
  font-family: Archivo-Regular;
  src: url('fonts/Archivo-Regular.ttf');
}
  
@font-face {
  font-family: Archivo-Black;
  src: url('fonts/Archivo-Black.ttf');
}

@font-face {
  font-family: Archivo-LightItalic;
  src: url('fonts/Archivo-LightItalic.ttf');
}
@font-face {
  font-family: Sanchez-Regular;
  src: url('fonts/Sanchez-Regular.ttf');
}

:root {
  margin: 0;
  padding:0 ;
  display: block;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:hidden;
}

.vertical-line
{
  border-left: 5px solid #f8d407;
  height: 35vh;
  position: absolute;
  left: 20%;
  justify-content: center;
  top: 28%;
}

main {
  background-image: url('Images/Backgroundpicture.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

.content {
  text-align: center;
  color: white;
  height: fit-content;
  margin: 1.5em;
  padding:2em;
  width: 60%;
  border-left:  3px solid #f8d407;
}

.content h1{
  font-family: Archivo-Black;
  font-size: 3em;
  line-height: 1em;
}

.content h2{
  font-family: Archivo-Regular;
  font-style: italic;
  font-size: 1.5em;
}

.header-list{
  list-style-type: none;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}

.navlist{
  display:flex;
  flex-direction: row;
  width: 100%;
  font-family: Archivo-Bold;
}

li {
  float: left;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 0;
  margin: 4px 18px;
  width: 100%;
  text-decoration: none
}

  
li a:hover {
  border: 5px solid yellow; 
  padding: 4px 18px; 
  margin: 0;
  background-color: #f8d407;
  color:#000;
}

/*li a.active {
  border: 1px solid yellow; 
  padding: 12px 14px; }*/


.logo 
{
  position: relative;
  width: 280px;
  height: 55px;
}
.navlist ul
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

header{
    background-color: black;
    display: flex;
    height: 60px;
    align-items: center;
  }
  
  .contact-info {
    position: relative;
    top: 0;
    right: 10px;
    padding: 1px 1px;
    color:white;
    z-index: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    
  }

#hamburger{
  display: none;
}

/* What we do*/
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  font-family: Archivo-Regular;
  height: 100%;
}

.description {
  width: 100%;
  background-color:black;
  color: white;
  position: relative;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.description h1{
  font-family: 'Archivo-Bold';
    font-size: 1.5em;
}

.what-we-do-list {
  margin: 0 auto;
  font-size: 16px;
  width: 60%;
}

.what-we-do-list li {
  font-size: 18px;
  margin-bottom: 10px;

}

.stock-image {
  position: relative;
  width: 100%;
}

.stock-image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/*About Us*/
.aboutUs-container{
  display: flex;
  justify-content: space-between;

}
.about{
  width: 50%;
  background-color:black;
  color: white;
}

.about h2{
  font-family: 'Archivo-Bold';
  font-size: 2em;
}


/* Mission & Vision*/
.mission-container {
  position: relative;
  display: flex;
  width: 100%;
}

.mission-container img { 
  width: 100% !important;
  height: 100%;
  position: relative;
  object-fit:fill;
}
.mission-box,
.vision-box {
  width: 50%;
  height: 150px;
  padding: 1.5em;
  position: absolute;
  border: 2px solid #7c6e2f93; 
  border-radius: 5px; 
  margin: auto 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
}

.mission-box:hover,
.vision-box:hover {
       transform: scale(1.05); 
       transition: transform 0.3s; 
       z-index: 1;
}

.mission-box {
  background-color: #DFC01B;
  color: black;
  bottom: 0;
  left: 5%;
  top: 10rem;
}

.mission-box h2 {
  font-weight: bolder;
  text-align: center;
  
}

.vision-box {
  background-color: #97663A;
  color: black;
  margin-top: 12%;
  right: 5%;
}

.vision-box h2 {
  font-weight: bolder;
  text-align: center;
  
}
/* Our Products*/
.product-body{
  background-color: #885f36;
  padding: 20px;
  font-family: Sanchez-Regular;
  
}
.products-container h1{
  font-family: Archivo-Bold;
  font-size: 3em;
}

.products-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.product-card {
  flex: 1;
  border: 0px solid black;
  margin: .5em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transition: transform 0.3s;
}
  
.product-card:hover {
transform: scale(1.05);
}

.product-description {
  flex-grow: 1;
  padding: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.product-card img {
  max-width: 100%;
}

.product-1 {
  background-color: #DFC01B;

}

.product-2 {
  background-color: #000;
  color: white;
}

.product-3 {
  background-color: #DFC01B;
}

.view-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #DFC01B;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

/*Contanct Us*/
.contact-body{
  background-image: url('/Images/Contact_bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  width: 100%;  
  padding: 5em auto ;
} 
.backImage {
position: absolute;
 z-index: -1;
}
.contactUs-container {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 5em auto;

}
.contactUs-container h1 {
  font-size: 3.5em;
  font-family: Archivo-Regular;
  margin-top: 20px;
}
.inquire-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #DFC01B;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.inquire-btn a {
  text-decoration: none;
  color: white;
}
.inquire-text {
  font-size: 18px;
  margin-top: 40px;
}
/* About us*/
._container {
  display: flex;
  justify-content:center;
  width: 100%;
  flex-direction: row;
}
.about {
  width: 100%;
  background-color:black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  padding: 3em;
}

.about button {
  padding: 1em;
  margin:0 .5em;
  background-color: #DFC01B;
  border: 1px solid #f8d407;
  width: fit-content;
}
.about h2 {
  margin:0 .5em; 
}

.about-description {
  font-size: 18px;
  padding:.5em ;

}

.Pindiwe-image {
  width: 100%;
  display: flex;
  padding: 3em; 
  background-color: #000;
  border-radius: 0;
}

.Pindiwe-image img {
  max-width: 100%;
  width: auto;
  margin: 0 0 0 auto;
  height: 100%;
  object-fit: contain;
}

/*Footer*/

footer {
  background-color: #DFC01B;
  color: #0c0c09;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}

footer hr {
  border: .5px solid black;
  width: 100%;
}

.footer-info {
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content:space-evenly;
 align-items: stretch;
}

.footer-logo{
  position: relative;
  width: 18em;
  height: 55px;

}
.footer-logo img{
  width: 100%;
}

.address {
  padding: 0.5em;
}

.address img{
  width: 2.5em;
}
.address p {
  margin-top: 8px;
  margin-bottom: 0px;
 }

.separator {
  border: 1px solid #000;
  margin: 10px 0;
}
.info-link {
  width: 50%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


.footer-links li {
  display: inline;
  padding: 1em .2em;
  color: black !important;
  width: 100%;

}

.contact-details{
  display: flex;
}

.copyright {
  margin-top: auto;
}


